/* ===== Global Styles ===== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  > div {
    flex: 1;
  }
}

#root {
  display: flex;
  flex-direction: column;
}


a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}

a:hover {
  color: var(--button-hover-bg);
}

img {
  max-width: 100%;
}

main {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* ===== Header Styles ===== */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--header-bg);
  padding: 15px 20px;
  box-shadow: var(--box-shadow);
  z-index: 100;
}

header a.logo {
  font-weight: bold;
  font-size: 1.5rem;
}

header nav {
  display: flex;
  gap: 24px;
}

/* ===== Footer Styles ===== */
footer {
  background-color: var(--footer-bg);
  padding: 20px 10px;
  border-top: 1px solid var(--input-border);
  text-align: center;
  position: sticky;
  bottom: 0;
  z-index: 100;
  margin-top: auto;/* in dorost kar footer ro */
}

footer .social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

footer .social-icons a {
  font-size: 1.5rem;
  transition: color 0.3s;
}

/* Social Media Icon Colors */
.social-icons .facebook {
  color: #1877f2;
}

.social-icons .facebook:hover {
  color: #125abe;
}

.social-icons .x {
  color: var(--text-color);
}

.social-icons .x:hover {
  color: #333;
}

.social-icons .instagram {
  color: #e4405f;
}

.social-icons .instagram:hover {
  color: #c13584;
}

.social-icons .linkedin {
  color: #0077b5;
}

.social-icons .linkedin:hover {
  color: #004f7c;
}

.social-icons .youtube {
  color: #ff0000;
}

.social-icons .youtube:hover {
  color: #c1351d;
}

/* ===== Post Styles ===== */
.post {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  background-color: var(--card-bg);
  color: var(--card-text);
  border: 1px solid var(--card-border);
  box-shadow: var(--card-shadow);
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.post:hover {
  transform: translateY(-5px); /* Move the post up slightly */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add a stronger shadow */
}

@media screen and (min-width: 700px) {
  .post {
    grid-template-columns: 0.9fr 1.1fr;
  }
}

.post .texts h2 {
  margin: 0;
  font-size: 2rem;
}

.post .info {
  margin: 24px 0;
  color: var(--card-text);
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
}

.post .info a.author {
  color: var(--card-text);
}

.post .summary {
  margin: 10px 0;
  line-height: 1.8rem;
}

/* ===== Form Styles ===== */
login-page,
register-page {
  height: 100vh;
}
form.login,
form.register {
  max-width: 400px;
  
  margin: 0 auto;
  padding: 20px;
  background-color: var(--card-bg);
  border: 1px solid var(--card-border);
  border-radius: 10px;
  box-shadow: var(--card-shadow);
}

input,
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--input-border);
  border-radius: 5px;
  background-color: var(--input-bg);
  color: var(--text-color);
  transition: border-color 0.3s;
}

input:focus,
textarea:focus {
  border-color: var(--input-focus-border);
  outline: none;
}

button {
  width: 100%;
  padding: 10px;
  background-color: var(--button-bg);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--button-hover-bg);
}

/* ===== Post Page Styles ===== */
.post-page .image {
  max-height: 300px;
  display: flex;
  overflow: hidden;
}

.post-page .image img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
}

.post-page h1 {
  text-align: center;
  margin: 10px 0 5px;
}

.post-page time {
  text-align: center;
  display: block;
  font-size: 1rem;
  color: var(--input-border);
  margin: 10px 0;
}

.post-page .author {
  text-align: center;
  margin-bottom: 20px;
  font-size: 0.7rem;
  font-weight: bold;
}

.post-page .content p {
  line-height: 1.5rem;
  margin: 30px 0;
}

.post-page .content li {
  margin-bottom: 10px;
}

.post-page .edit-row {
  text-align: center;
  margin-bottom: 20px;
}

.post-page a.edit-btn {
  background-color: var(--card-border);
  display: inline-flex;
  align-items: center;
  gap: 5px;
  color: var(--text-color);
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
}

/* ===== Editor Styles ===== */
.ql-toolbar.ql-snow + .ql-container.ql-snow {
  border: 2px solid var(--card-text);
  border-radius: 5px;
  background-color: var(--card-border);
  height: 200px;
}

/* ===== About Page Styles ===== */
.about-page {
  max-width: 800px;
  margin: 0 auto;
  height: 100vh;
  padding: 20px;
  text-align: center;
}

.about-page h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.about-page p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 40px;
}

.github-profiles {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.profile {
  background-color: var(--card-bg);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px var(--input-border);
  transition: transform 0.3s ease;
}

.profile:hover {
  transform: translateY(-10px);
}

.github-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.profile a {
  text-decoration: none;
  color: var(--text-color);
}

.profile a:hover {
  color: var(--button-hover-bg);
}

.theme-toggle{
  background-color: transparent;
}

/* ===== Theme Variables ===== */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --header-bg: #f8f9fa;
  --footer-bg: #f8f9fa;
  --button-bg: #0077b5;
  --button-hover-bg: #005f8a;
  --input-bg: #ffffff;
  --input-border: #ddd;
  --input-focus-border: #0077b5;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --card-bg: #ffffff;
  --card-text: #000000;
  --card-border: #ddd;
  --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] {
  --background-color: #121212;
  --text-color: #ffffff;
  --header-bg: #1e1e1e;
  --footer-bg: #1e1e1e;
  --button-bg: #1e90ff;
  --button-hover-bg: #0077b5;
  --input-bg: #333333;
  --input-border: #555555;
  --input-focus-border: #1e90ff;
  --box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  --card-bg: #1e1e1e;
  --card-text: #ffffff;
  --card-border: #333;
  --card-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

/* ===== Layout Styles ===== */
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the layout fills the viewport height */
}

.content-container {
  display: flex;
  flex: 1; /* Fill remaining space */
}

.main-content {
  flex: 1; /* Main content takes up remaining space */
  padding: 20px;
}

.sidebar {
  width: 250px; /* Set the width of the sidebar */
  background-color: var(--card-bg);
  border-left: 1px solid var(--card-border);
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

.advertisement {
  text-align: center;
}

.advertisement h3 {
  margin-bottom: 10px;
}

.advertisement p {
  color: var(--card-text);
}

@media (max-width: 768px) {
  .sidebar {
    display: none; /* Hide the sidebar on small screens */
  }

  .main-content {
    padding: 20px 10px; /* Adjust padding for small screens */
  }
}

/* ===== Back to Top Button ===== */
.back-to-top {
  position: fixed;
  z-index: 1000;
  bottom: 20px;
  right: 20px;
  background-color: var(--button-bg);
  color: rgb(255, 204, 177);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, background-color 0.3s ease;
}

.back-to-top.visible {
  opacity: 1;
  visibility: visible;
}

.back-to-top:hover {
  background-color: var(--button-hover-bg);
}

.arrow-icon {
  font-size: 1.2rem;
}